@import "../../Base"; 
.akademii{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;

    .txt-div{
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        @extend%flex-column;
    }
    .img-div{
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%;
        border-radius: 4px;
        height: 90vh;
    }
    .akademii-cards {
        width: 100%;
        margin: 50px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .card{
            margin-bottom: 25px;
            -ms-flex-preferred-size: 32%;
                flex-basis: 32%;
            cursor: pointer;
            border-radius: 10px;
        &:hover{
            -webkit-transform: scale(1.01);
                -ms-transform: scale(1.01);
                    transform: scale(1.01);
            }
            .overlay{
                height: 100%;
                @extend %flex-column;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
                h1,p {
                    color: white;
                    text-align: left;
                    
                }
                h1{
                    font-size: 33px;
                    padding: 15px;
                }
                .p-text{
                    width: 90%;
                    padding: 15px ;
                }
                div{
                    div{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        margin-bottom: 15px;
                        i{  
                            -ms-flex-preferred-size: 10%;  
                                flex-basis: 10%;
                            font-size: 20px;
                            color: white;
                        }
                    }
                }
                p{
                    -ms-flex-preferred-size: 88%;
                        flex-basis: 88%;
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-left: 15px;
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .akademii{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        h1{
            margin-bottom: 20px;
        }
        .img-div{
            -ms-flex-preferred-size: unset;
                flex-basis: unset;
        }
        .akademii-cards{
            .card{
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
            }
        }
    }

}
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .akademii{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 95%;
        .img-div{
            -ms-flex-preferred-size: unset;
                flex-basis: unset;
        }
        .akademii-cards{
            
            .card{
                -ms-flex-preferred-size: 49%;
                    flex-basis: 49%;
            }
        }
    }
}